<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiocruz - Hack2020-2</title>
</head>
<body>
    <h1>Omics</h1>
    <p>Escolha uma opção</p>
    <hr>
    <h2>DATASETS</h2>
    <a href="https://forms.gle/pzHKjYP16iVc9bud9" target="_blank">Criar dataset</a>
    <a href="https://docs.google.com/spreadsheets/d/1deKbRkp1ZjgnfDgmY_-e0E53omkN2lb5rLg1iZ_lyaU/edit?usp=sharing" target="_blank">Consultar</a>
    <hr>
    <h2>MODELOS</h2>
    <a href="https://forms.gle/GGPjM3G8dHv6qKLz8 "  target="_blank">Criar modelo</a>
    <a href="https://docs.google.com/spreadsheets/d/1KCyOSTgQGi-yYUSnf8XrY_QYaD5I3FEVfqBJtmGCglw/edit?usp=sharing" target="_blank">Consultar modelo</a>
</body>
</html>